.App {
  text-align: center;
  background-color: green;
  margin: 0;
  padding: 0;
}

Header {
  background-color: rgb(77, 75, 240);
  min-width: 100vh;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 12, 12);
}

button {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 60px;
  width: 180px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  color: black;
  background-color: rgb(234, 222, 222);
}

.main--div {
  flex: 1;
  background-color: rgb(15, 15, 16);
  height: 90vh;
}

.quoteBox--quote {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 15, 16);
  color: rgb(241, 240, 232);
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 5px;
  max-width: 750px;
  min-width: 350px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.quoteBox--author {
  color: rgb(167, 163, 158);
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 15, 16);
  padding-bottom: 20px;
  max-width: 750px;
  min-width: 350px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
